# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cython build artifacts
*.c
*.cpp
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
env/
ENV/
.venv/
.pyenv/
pip-selfcheck.json

# PyInstaller
#  Usually contains the executable and other files
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Pyright
pyrightconfig.json

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Pycharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# dotenv
.env
.env.*

# SQLite
*.sqlite3
*.db

# Git
.git/

# System file backups
*.bak
*.swp
*~

# cache
.cache.sqlite
.cache.*