<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Dashboard</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
<div class="container">
    <aside class="sidebar">
        <div class="logo-home"><a href="/">🏠</a></div>
        <nav>
            <ul>
                <li class="active">Weather</li>
                <li>Cities</li>
                <li>Map</li>
                <li>Settings</li>
            </ul>
        </nav>
    </aside>

    <main class="content">
        <header class="search-bar">
            <form method="POST">
                <input name="city" placeholder="Enter city" required type="text">
                <button type="submit">Search</button>
            </form>
        </header>

        <section class="weather-main">
            <div class="current-weather">
                <!-- show city -->
                {% if coords %}
                <h1>{{ coords.display_name }}</h1>
                {% elif request.method == "POST" %}
                <p>No result found.</p>
                {% endif %}
                <!-- show current weather -->
                {% if weather %}
                <div class="latitude">Lat: {{ weather.response.Latitude() }}°N</div>
                <div class="longitude">Lon: {{ weather.response.Longitude() }}°E</div>
                <p>Timezone: {{ weather.response.Timezone() }} {{ weather.response.TimezoneAbbreviation() }}</p>
                <div class="current-time">Current time: {{ weather.current.time | format_time }}</div>
                <div class="current-temperature">Current temperature: {{ weather.current.temperature_2m }}°C</div>
                <div class="apparent-temperature">Current apparent temperature: {{ weather.current.apparent_temperature }}°C</div>
                <div class="current-humidity">Current humidity: {{ weather.current.relative_humidity_2m }}%</div>
                <div class="weather-icon">Current weather code: {{ weather.current.weather_code | weather_icon }}</div>
                {% elif request.method == "POST" %}
                <p>Không tìm thấy dữ liệu thời tiết.</p>
                {% endif %}
            </div>
            <!-- show hourly-forecast weather -->
            <div class="hourly-forecast">
                <h1>Today's Forecast</h1>
                <div class="hours">
                    <div><p>6:00 AM</p>
                        <div>☁️</div>
                        <span>25°</span></div>
                    <div><p>9:00 AM</p>
                        <div>⛅</div>
                        <span>28°</span></div>
                    <div><p>12:00 PM</p>
                        <div>☀️</div>
                        <span>33°</span></div>
                    <div><p>3:00 PM</p>
                        <div>☀️</div>
                        <span>34°</span></div>
                    <div><p>6:00 PM</p>
                        <div>☀️</div>
                        <span>32°</span></div>
                    <div><p>9:00 PM</p>
                        <div>☁️</div>
                        <span>30°</span></div>
                </div>
            </div>
            <!-- show daily-forecast weather -->
            <div class="daily-forecast">
                <h3>7-Day Forecast</h3>
                <ul>
                    <li><span>Today</span><span>☀️ Sunny</span><span>36/22</span></li>
                    <li><span>Tue</span><span>☀️ Sunny</span><span>37/21</span></li>
                    <li><span>Wed</span><span>☀️ Sunny</span><span>37/21</span></li>
                    <li><span>Thu</span><span>☁️ Cloudy</span><span>37/21</span></li>
                    <li><span>Fri</span><span>☁️ Cloudy</span><span>37/21</span></li>
                    <li><span>Sat</span><span>🌧️ Rainy</span><span>37/21</span></li>
                    <li><span>Sun</span><span>⚡ Storm</span><span>37/21</span></li>
                </ul>
            </div>
        </section>
    </main>
</div>
</body>
</html>
