<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Dashboard</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
<div class="container">
    <aside class="sidebar">
        <div class="logo-home"><a href="/">🏠</a></div>
        <nav>
            <ul>
                <li class="active">Weather</li>
                <li>Cities</li>
                <li>Map</li>
                <li>Settings</li>
            </ul>
        </nav>
    </aside>

    <main class="content">
        <header class="search-bar">
            <form method="POST">
                <input name="city" placeholder="Enter city" required type="text">
                <button type="submit">Search</button>
            </form>
        </header>

        <section class="weather-main">
            <div class="current-weather">
                <!-- show city -->
                {% if coords %}
                <h1>{{ coords.display_name }}</h1>
                {% elif request.method == "POST" %}
                <p>No result found.</p>
                {% endif %}
                <!-- show current weather -->
                {% if weather %}
                <div class="latitude">Lat: {{ weather.response.Latitude() }}°N</div>
                <div class="longitude">Lon: {{ weather.response.Longitude() }}°E</div>
                <p>Timezone: {{ weather.response.Timezone() | format_timezone }} - {{ weather.response.TimezoneAbbreviation() | format_timezone }}</p>
                <div class="current-time">Current time: {{ weather.current.time | format_time }}</div>
                <div class="current-temperature">Current temperature: {{ weather.current.temperature_2m | format_round_float_to_int }}°C</div>
                <div class="apparent-temperature">Current apparent temperature: {{ weather.current.apparent_temperature | format_round_float_to_int }}°C</div>
                <div class="current-humidity">Current humidity: {{ weather.current.relative_humidity_2m | format_round_float_to_int }}%</div>
                <div class="weather-icon">Current weather code: {{ weather.current.weather_code | weather_icon }}</div>
                {% elif request.method == "POST" %}
                <p>Không tìm thấy dữ liệu thời tiết.</p>
                {% endif %}
            </div>
            <!-- show hourly-forecast weather -->
            <div class="hourly-forecast">
                <h1>Today's Forecast</h1>
                <div class="hourly-container">
                    {% for hour in weather.hourly %}
                    <div class="hour-card">
                        <div class="hour-time">{{ hour.date | format_time }}</div> <!-- Chỉ hiển thị "HH:MM" -->
                        <div class="hour-icon">{{ hour.weather_code | weather_icon }}</div>
                        <div class="hour-temp">🌡️{{ hour.temperature_2m | format_round_float_to_int }}°</div>
                        <div class="hour-relative-humidity">💧{{ hour.relative_humidity_2m | format_round_float_to_int }}%</div>
                        <div class="hour-visibility">👁️‍🗨️{{ hour.visibility | format_visibility }}km</div>
                        <div class="hour-precipitation-probability">☔{{ hour.precipitation_probability | format_round_float_to_int }}%</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- show daily-forecast weather -->
            <div class="daily-forecast">
                <h3>7-Day Forecast</h3>
                <ul>
                    {% for day in weather.daily %}
                    <li><span>{{ day.date }}</span><span>{{ day.weather_code | weather_icon }}</span><span>{{ day.temperature_2m_max | format_round_float_to_int }}°/{{ day.temperature_2m_min | format_round_float_to_int }}°</span></li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </main>
</div>
</body>
</html>
